.containerProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px 75px 150px;
  flex-wrap: wrap;
  max-width: 98vw;
  position: relative;
}

/* .projects::before{
  content: " ";
  display: block;
  width: 550px;
  height: 1.5px;
  background: linear-gradient(to right, #f4426c, #6964de) padding-box;
  margin: 0 auto 55px;
  border-radius: 35%;
}

.projects::after{
  content: " ";
  display: block;
  width: 550px;
  height: 1.5px;
  background: linear-gradient(to right, #f4426c, #6964de) padding-box;
  margin: 0 auto 55px;
  border-radius: 35%;
} */

.projects h1 {
  margin-left: 70px;
  font-size: 18px;
}

.projects h1::after {
      content: " ";
      display: block;
      width: 75px;
      height: 2px;
      background: linear-gradient(to right, #f4426c, #6964de) padding-box;
      margin-top: 4px;
}

.containerProjects .projectCard {
  max-width: 302px;
  max-height: 375px;
  padding: 10px 0 10px;
  border: 1px solid rgba(17, 17, 17, 0.699);
  background-color: rgba(17, 17, 17, 0.247);
  margin-bottom: 5px;
}

.containerProjects .projectCard img {
  max-width: 300px;
  border-bottom: 1px solid rgb(17, 17, 17);
}

.containerProjects .projectCard p.title {
  padding: 10px 10px 25px 0px;
  font-size: 18px;
}

.containerProjects .projectCard p.description {
  padding: 10px 10px 10px 0px;
  color: #c4c4c4;
  font-size: 14px;
  overflow: hidden;
  white-space: pre-line;
}

.containerProjects .projectCard .tags ul {
  list-style: none;
  font-size: 14px;
  color: #6cace4;
}

.containerProjects .projectCard .tags ul li {
  display: inline-flex;
}

.containerProjects .projectCard .tags ul li::after {
  content: "\00a0-\00a0";
}

.containerProjects .projectCard .buttons {
  padding: 0 0 10px;
}

@media (max-width: 768px) {
  .containerProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 35px 150px;
    flex-wrap: wrap;
    max-width: 98vw;
    position: relative;
  }
  .containerProjects .projectCard p.description {
    padding: 10px 10px 10px 0px;
    color: #c4c4c4;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 426px) {
  .containerProjects {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 70px 0px 70px;
    flex-wrap: wrap;
    max-width: 100%;
    position: relative;
    align-content: center;
  }

  .containerProjects .projectCard img {
    max-width: 90vw;
  }

  .containerProjects .projectCard {
    max-width: 90vw;
    max-height: 98vh;
  }

  .containerProjects .projectCard .body .buttons {
    max-width: 60%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .projects h1 {
    margin-left: 15px;
    font-size: 1.1em;
  }
}

@media (max-width: 375px) {
  .containerProjects {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 70px 0px 70px;
    flex-wrap: wrap;
    max-width: 100%;
    position: relative;
    align-content: center;
  }
}