footer {
      display: flex;
      flex-direction: column;
      background-color: #111111;
}

footer .topFooter {
      padding: 120px 0;
}

footer .copyright {
      background-color: #0a0a0a;
      padding: 20px 45px;
}

footer .copyright p {
      text-align: center;
      font-size: 14px;
}

footer .copyright p a {
      font-size: 14px;
      color: #6cace4;
}

@media (max-width: 376px) {
      footer .copyright p {
            font-size: 14.5px
      }
      footer .copyright {
            padding: 20px 45px;
      }
}